- head do
  - stylesheet_link_tag 'post'
- title "#{@tags.join(' ')}"
#posts
  = endless_page_for @posts, :render => { :partial => '/blog/posts/post', :collection => @posts, :locals => { :preview => true } }