@import _common.sass

a
  :color = !orange_text
  :text-decoration none
  :padding 0 1px
  &:visited
    :color = !orange_text
  img
    :border none

h1
  :font-weight lighter
  :font-size = !large_text_size
  :margin 0


// Simulating TextMate Sunburst Theme

.ruby
  
  a, a:hover, .input
    :color inherit
    :background inherit

  &.keyword, &.keyword *
    :color = !orange_text

  &.entity, &.entity *, &.entity-name
    :color = !blue_text

  &.inherited, &.inherited *
    :color = !brown_text



// Tables
table, table td, table tr
  :border none
  :padding 0
  :margin 0



@import layout.sass
