html, body {
  border: 0;
  padding: 0;
  margin: 0; }

body {
  overflow-y: scroll;
  font: normal normal normal 90% Trebuchet MS, Trebuchet;
  color: white; }

a {
  color: #ff6633;
  text-decoration: none;
  padding: 0 1px; }
  a:visited {
    color: #ff6633; }
  a:hover {
    background-color: #ff6633;
    color: #001A47; }

page {
  position: relative; }

.column {
  position: relative;
  width: 955px;
  margin: 0 auto; }

#fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000418 url(../images/godrays.gif) no-repeat fixed center center; }
  #fixed-background .background {
    height: 100%;
    background-color: black;
    opacity: 0.80;
    -moz-opacity: 0.80; }

#controls {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 90%;
  color: #9B5C2E; }
  #controls a {
    margin-left: 0.5em; }

#content {
  padding: 0.5em 3em 0.5em 1em; }

.indent {
  margin-left: 1em; }

h1 {
  font-size: 19px;
  margin: 0; }

#nav {
  position: absolute;
  top: 19px;
  right: -35px;
  margin: 0;
  padding: 0; }
  #nav, #nav li {
    list-style-type: none;
    list-style: none inside; }
  #nav li {
    display: block;
    width: 35px;
    background: url('../images/nav/button/background/top.png') no-repeat scroll top left;
    margin-bottom: 10px;
    padding: 9px 0 0 0; }
    #nav li a {
      display: block;
      width: 35px;
      background: url('../images/nav/button/background/bottom.png') no-repeat scroll bottom left;
      padding: 0 0 9px 0; }
      #nav li a div {
        background-color: black; }
  #nav li.aboutme a div {
    background: black url('../images/nav/button/aboutme.png') no-repeat scroll 9px 0px;
    height: 76px; }
  #nav li.twitter a div {
    background: black url('../images/nav/button/twitter.png') no-repeat scroll 3px 0px;
    height: 26px; }
  #nav li.postsfeed a div {
    background: black url('../images/nav/button/rss.png') no-repeat scroll 3px 0px;
    height: 25px; }

.flash {
  text-align: center; }
  .flash .notice {
    color: #89bdff; }
  .flash .warning {
    color: #e3a336; }
  .flash .error {
    color: #e23d27; }


.ruby a, .ruby a:hover, .ruby .input {
  color: inherit;
  background: inherit; }
.ruby.keyword, .ruby.keyword * {
  color: #ff6633; }
.ruby.entity, .ruby.entity *, .ruby.entity-name {
  color: #89bdff; }
.ruby.inherited, .ruby.inherited * {
  color: #9b5c2e; }

.post {
  text-align: justify; }
  .post img {
    margin: 0.5em; }
  .post .title {
    font-size: 19px; }
    .post .title input {
      background: transparent;
      border: none; }
  .post .controls {
    font-size: 50%; }
  .post .body {
    overflow: hidden;
    margin-left: 1em; }
  .post input[type="submit"] {
    border: none;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    top: -1.5em;
    background: transparent; }
  .post #loading_posts {
    color: #89BDFF;
    font-weight: bold; }
  .post .tags, .post .tags .ruby {
    font-size: 12px; }
  .post .tags {
    margin-left: 1em; }
    .post .tags .tag {
      color: #89bdff;
      padding: 0 2px; }
      .post .tags .tag:visited {
        color: #89bdff; }
      .post .tags .tag:hover {
        color: #89bdff;
        background: transparent; }

#posts .post:first-child {
  margin-top: 0; }
#posts .post {
  margin: 2.5em 0; }
  #posts .post .controls .back {
    display: none; }

#PostEditor {
  background: transparent; }
