html,body{
  border: 0;
  padding: 0;
  margin: 0;
}
html{
  width: 100%;
  height: 100%;
/*  overflow: hidden;*/
}
body{
  width: 100%;
  height: 100%;
  background: #0066ff url(../images/godrays.gif) no-repeat fixed center center;
  overflow-y: scroll;
  font: normal normal normal 90% Trebuchet MS, Trebuchet;
  color: white;
}

a{
  color: #ff6633; 
  text-decoration: none;
}
a:hover{
 background-color: #ff6633;
 color: #001A47;
}

/* Simulating TextMate Sunburst Theme */
.ruby{
  font-size: 133%;
}
.ruby a,
.ruby a:hover,
.ruby input{
  color: inherit;
  background: inherit;
}

.ruby.keyword{
 color: #ff6633; 
}
.ruby.entity,
.ruby.entity-name{
 color: #89BDFF; 
}

.ruby.inherited{
 color: #9B5C2E; 
}
.indent{ margin-left: 1em; }


/* Layout */
#page{
  position: relative;
  width: 955px;
  margin: 0 auto;
  min-height: 100%;
}

#page-background{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000;
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter:alpha(opacity=90);
  z-index: -1;
}

#controls{ 
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 90%;
  color: #9B5C2E;
}
#controls a{
  margin-left: 0.5em;
}

#content{
  padding: 0.5em 3em 0.5em 1em;
}





/* === FLASH MESSAGES === */
.flash {
	text-align: center;
}
.flash.notice {
  color: #89BDFF;
}
.flash.warning {
	color: #E3A336;
}
.flash.error {
	color: #E23D27;
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}






/* === Posts Styles === */
.post{
  text-align: justify;
}
#posts .post{
  margin: 1em 0;
}
.post .title input{
  background: transparent;
  border: none;
}
.post .controls{
  font-size: 50%;
}
.post .controls,
.post .controls a,
.post .controls a:visited{
  color: inherit;
  text-decoration:none;
  vertical-align: middle;
}

.post input[type="submit"]{
  border: none;
  float:right;
  margin: 0;
  padding: 0;
  position: relative;
  top: -1.5em;
}

#PostEditor{
  background: transparent;
}


