html,body{
  border: 0;
  padding: 0;
  margin: 0;
}
html{
  width: 100%;
  height: 100%;
/*  overflow: hidden;*/
}
body{
  width: 100%;
  height: 100%;
  background: #0066ff url(../images/godrays.gif) no-repeat fixed center center;
  overflow-y: scroll;
}

.red{
  color: #ff6633;
}


.ruby-keyword,
.ruby-entity,
.ruby-entity-name,
.ruby-inherited{
  font-size: 133%;
}

a,
.ruby-keyword{
 color: #ff6633; 
}
.ruby-entity,
.ruby-entity input,
.ruby-entity-name{
 color: #89BDFF; 
}
.ruby-entity-name{
  text-decoration: underline;
}
.ruby-inherited{ color: #9B5C2E; }
.indent{ margin-left: 1em; }


#page{
  position: relative;
  width: 955px;
  margin: 0 auto;
  font: normal normal normal 139% Trebuchet, arial;
  color: white;
  min-height: 100%;
}

#page-background{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000;
  opacity: 0.90;
  -moz-opacity: 0.90;
  filter:alpha(opacity=90);
  z-index: -1;
}

#controls{ display: none; }

#content{
  padding: 1em;
}

/*#header, #content{ display: none; }*/

/* === FLASH MESSAGES === */
div#flash-notice {
	
}

div#flash-warning {
	
}

div#flash-error {
	
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}






/* === Posts === */
.post{
  text-align: justify;
}
.post .title input{
  background: transparent;
  border: none;
}
/*.post .body textarea{
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  height: 600px; /* TODO JS Auto Height 
}*/
.post .controls{
  font-size: 50%;
}
.post .controls,
.post .controls a,
.post .controls a:visited{
  color: inherit;
  text-decoration:none;
}











