<% title 'posts' %>
<div id="posts">
  <% for post in @posts %>
  <%= render :partial => post, :locals => { :body => post.preview } %>
  <% end %>
</div>
<% if current_user_is_an_admin? %>
  <%= link_to 'Post.new', new_post_path %>
<% end %>