<% head do -%>
  <%= javascript_include_tag 'endless_page' %>
  <% javascript_anonymous_tag do -%>
    
    EndlessPage.observe('nearBottom', function(event){
      //console.dir({nearBottom:event});
      
      EndlessPage.stop();
      new Ajax.Request('/posts.js', {
        parameters: Object.toQueryString({
          page: (EndlessPage.currentPage += 1)
        }),
        asynchronous:true, 
        evalScripts:true, 
        method:'get'
      });
      
    });
  
  <% end -%>
<% end -%>

<% title 'posts' %>
<div id="posts">
  <%= render :partial => @posts %>
</div>
<div id="loading">Loading....</div>
<%#= load_more :partial => post, :into => :posts, :when => :scroll %>

<% if current_user_is_an_admin? %>
  <%= link_to 'Post.new', new_post_path %>
<% end %>