= javascript_tag 'document.write(unescape("%3Cscript src=\'" + (("https:" == document.location.protocol) ? "https://ssl." : "http://www.") + "google-analytics.com/ga.js\' type=\'text/javascript\'%3E%3C/script%3E"));'
= javascript_tag 'try { _gat._getTracker("UA-5241859-4")._trackPageview(); } catch(err) {}'
