%ul#nav
  %li.aboutme
    = link_to 'about me', about_me_path
  %li.twitter
    = link_to 'twitter', 'http://www.twitter.com/deadlyicon'
  %li.postsfeed
    = link_to 'rss feed', formatted_blog_posts_path(:rss)