%ul#nav
  %li.aboutme
    %a.aboutme{ :href => about_me_path }
      %div
  %li.twitter
    %a{ :href => 'http://www.twitter.com/deadlyicon' }
      %div
  %li.postsfeed
    %a{ :href => formatted_posts_path(:rss) }
      %div