!!! XML
!!!
%html
  %head
    = render :partial => 'layouts/headers'
    = yield :head
  %body{ :controller => controller.params['controller'], :action => controller.params['action'] }
    - render :layout => 'layouts/common' do
      = yield :layout
