<%= render :partial => 'layouts/header' %>
	<h1>
	  <span class="ruby keyword">class</span>
	  <span class="ruby entity-name"><%= link_to 'JaredGrippe', root_path %></span>
	  <span class="ruby inherited">&lt; Programmer</span>
	</h1>
	<div class="indent">
	  <%= yield :layout %>
	</div>
	<h1>
	  <span class="ruby keyword">end</span>
	</h1>
<%= render :partial => 'layouts/footer' %>