!!! XML
!!!
%html
  %head
    = render :partial => 'layouts/headers'
    = stylesheet_link_tag 'posts', :cache => false
    = yield :head
  %body.posts
    - render :layout => 'layouts/common' do
      = yield :layout
